* {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fffdd0;
}

   .page {
   		display: grid;
  		grid-template-columns: 1fr;
   }

   .page div {
	 		grid-row-start: 1;
	 		grid-column-start: 1;
		}

		.poke-name {
			margin-top: 20px;
			text-align: center;
		}

		.stats {
			position: absolute;
			grid-row-gap: 0px;
			display: grid;
			top: 10%;
			left: 20%;
			margin-top: 0px;
		}

		.record {
			position: absolute;
			grid-row-gap: 0px;
			display: grid;
			top: 10%;
			left: 68%;
			margin-top: 0px;
		}

		#card {
			position: absolute;
			display: grid;
			border: 3px solid black;
			border-radius: 10px;
			top: 15%;
			left: 37.5%;
			width: 50%;
			max-width: 350px;
			height: 268px;
			margin: 1rem;
			margin-top: 30px;
		}

		#card img {
			display: block;
			width: 180px;
			max-height: 220px;
			position: relative;
			margin: auto;
			margin-top: 0px;
			margin-bottom: 45px;
		}


	.types {
		position: absolute;
		display: flex;
	  top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.types span {
	  padding: 5px 20px;
	  border-radius: 20px;
	  color: #ffffff;
	  border: 1px solid black;
	}

	#types {
		position: absolute;
		display: grid;
		margin-top: 10px;
		margin-left: 10px;
	  grid-template-columns: 100px 100px 100px;
	  padding: 10px;
		top: 77%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.typeButton {
	  margin-right: 15px;
	  margin-bottom: 15px;
	  padding: 5px;
	  text-align: center;
	  border-radius: 20px;
	  color: #ffffff;
	  border: 1px solid black;
	  cursor: pointer;
	}


	@media (max-width: 800px) { 
   .page {
   		display: grid;
  		grid-template-columns: 1fr;
  		background-color: black;
   }

   .page div {
	 		grid-row-start: 1;
	 		grid-column-start: 1;
		}

		.poke-name {
			margin-top: 20px;
			text-align: center;
		}

		.stats {
			position: absolute;
			grid-row-gap: 0px;
			display: grid;
			top: 10%;
			left: 20%;
			margin-top: 0px;
		}

		#card {
			position: absolute;
			display: grid;
			border: 3px solid black;
			border-radius: 10px;
			top: 15%;
			left: 22%;
			width: 50%;
			height: 268px;
			margin: 1rem;
			margin-top: 30px;
		}

		#card img {
			display: block;
			width: 180px;
			max-height: 220px;
			position: relative;
			margin: auto;
			margin-top: 0px;
			margin-bottom: 45px;
		}


	.types {
		position: absolute;
		display: flex;
	  top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.types span {
	  padding: 5px 20px;
	  border-radius: 20px;
	  color: #ffffff;
	  border: 1px solid black;
	}

	#types {
		position: absolute;
		display: grid;
		margin-top: 10px;
		margin-left: 10px;
	  grid-template-columns: 100px 100px 100px;
	  padding: 10px;
		top: 77%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.typeButton {
	  margin-right: 15px;
	  margin-bottom: 15px;
	  padding: 5px;
	  text-align: center;
	  border-radius: 20px;
	  color: #ffffff;
	  border: 1px solid black;
	  cursor: pointer;
	}

}